/**
 * @name GOPlay
 * @description Discord theme GOPlay
 * @author VolRen
 * @version 1.3.0
 * @invite 5CpUtAEhdD
 * @website https://github.com/VolRen-ShYK/GOPlay-discord
 * @source https://github.com/VolRen-ShYK/GOPlay-discord/blob/Main/GOPlay.theme.css
 * @authorId 374190063367487489
 * @authorLink https://github.com/VolRen-ShYK
*/

@import url('https://volrencs.github.io/GOPlay-discord/goplay.css');

/* Настройка основных параметров */
:root {
    /* текст в верхнем левом углу */
    --corner-text: 'GOPlay';

    /* толщина разделителя сообщений */
    --divider-thickness: 3px;

    --accent-1: #7caea3; /* ссылки */
    --accent-2: #98f3fa; /* общие элементы для непрочитанных/упоминаний */
    --accent-3: #6ed6f1; /* акцентные кнопки */
    --accent-4: #29d9e583; /* акцентные кнопки при наведении */
    --accent-5: #44d8e38b; /* акцентные кнопки при клике */
    --mention: #89f5f51a; /* упоминания и сообщения с упоминаниями */
    --mention-hover: #abf7f709; /* упоминания и сообщения с упоминаниями при наведении */

    --text-0: var(--bg-4); /* текст на цветных элементах */
    --text-1: var(--text-2); /* другой обычный текст */
    --text-2: #cfe9e9; /* заголовки и важный текст */
    --text-3: #dbfdff; /* нормальный текст */
    --text-4: #e6ededd5; /* иконки кнопок и каналы */
    --text-5: #d4be9866; /* беззвучные каналы/чаты и метки времени */

    --online-indicator: #3e92ff; /* цвет индикатора онлайн */
    --dnd-indicator: #ff0000; /* цвет индикатора не беспокоить */
    --idle-indicator: #ffa946; /* цвет индикатора неактивности */

    --bg-1: #9c9c9c38; /* тёмные кнопки при клике */
    --bg-2: #2b2b2b; /* тёмные кнопки */
    --bg-3: #44454b; /* отступы, второстепенные элементы */
    --bg-4: #31313a; /* основной цвет фона */
    --bg-5: #20262639; /* Цвет настроек */
    --hover: #40404079; /* каналы и кнопки при наведении */
    --active: #43474d; /* каналы и кнопки при клике или выборе */
    --message-hover: #00000016; /* сообщения при наведении */

    /* настройки радиального статуса */
    --rs-small-spacing: 2px; /* зазор между аватаром и статусом для списка участников/личных сообщений */
    --rs-medium-spacing: 3px; /* зазор между аватаром и статусом для всплывающих окон пользователей */
    --rs-large-spacing: 4px; /* зазор между аватаром и статусом для профилей пользователей */
    --rs-small-width: 2px; /* толщина рамки статуса для списка участников/личных сообщений */
    --rs-medium-width: 3px; /* толщина рамки статуса для всплывающих окон пользователей */
    --rs-large-width: 4px; /* толщина рамки статуса для профилей пользователей */
    --rs-avatar-shape: 50%; /* 50% для круглых аватаров - 0% для квадратных */
    --rs-online-color: var(--online-indicator); /* цвет статуса онлайн */
    --rs-idle-color: var(--idle-indicator); /* цвет статуса неактивности */
    --rs-dnd-color: var(--dnd-indicator); /* цвет статуса не беспокоить */
    --rs-self-speaking-colour: var(--accent-3); /* цвет круга вокруг аватара, когда вы говорите */
    --rs-phone-color: var(--rs-online-color); /* цвет кольца и иконки телефона, когда пользователь на телефоне */
    --rs-offline-color: #636b75; /* цвет статуса оффлайн */
    --rs-streaming-color: #643da7; /* цвет статуса стриминга */
    --rs-invisible-color: #747f8d; /* цвет статуса невидимости */
    --rs-phone-visible: block; /* видимость иконки телефона рядом с аватаром пользователя */

    /* количество отступов и внутренних отступов */
    --spacing: 10px;

    /* анимации */
    --list-item-transition: 0.2s ease; /* анимация наведения на каналы/участников/настройки */
    --unread-bar-transition: 0.2s ease; /* анимация появления полосы непрочитанных сообщений */
    --moon-spin-transition: 0.4s ease; /* анимация вращения иконки луны */
    --icon-spin-transition: 1s ease; /* анимация вращения круглой иконки кнопок (настройки, эмодзи и т.д.) */

    /* скругление углов (border-radius) */
    --roundness-xl: 22px; /* скругление внешних углов большого панели */
    --roundness-l: 20px; /* всплывающие панели */
    --roundness-m: 16px; /* меньшие панели, изображения, встраиваемые элементы */
    --roundness-s: 12px; /* участники, поля настроек */
    --roundness-xs: 10px; /* каналы, кнопки */
    --roundness-xxs: 8px; /* строка поиска, маленькие элементы */

    /* иконка луны для личных сообщений */
    --discord-icon: none; /* иконка Discord */
    --moon-icon: block; /* иконка луны */
    --moon-icon-size: cover;

    /* фильтрация некрасочных элементов для соответствия теме */
    --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* фон экрана входа */
    --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* значок исследования страницы добавления друга */
    --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* значок школы на странице добавления друга */

    /* выберите стиль для кнопок управления окнами (свернуть-развернуть-закрыть) */
    --windows-nav: none;
    --custom-nav: block;
}